<div
    id="deleteConfirmModal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center bg-[#00000030] flex"
    style="z-index: 52"
>
    <!-- Modal Box -->
    <div
        id="deleteConfirmModalBox"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 min-w-[500px] modal-box"
    >
    </div>
</div>

<div
    id="detailModal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="detailModalBox"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 min-w-[600px] modal-box"
    >
    </div>
</div>

<div
    id="contentModalSecond"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="contentModalBoxSecond"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 min-w-[850px] modal-box"
    >
    </div>
</div>

<div
    id="contentModal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex p-4 overflow-y-auto"
>
    <!-- Modal Box -->
    <div
        id="contentModalBox"
        class="bg-white w-full max-w-[95vw] md:max-w-[650px] lg:max-w-[850px] rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 modal-box my-auto"
    >
    </div>
</div>

<div
    id="calendarPreviewModal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="calendarPreviewModalBox"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 w-full md:min-w-[850px] modal-box"
    >
    </div>
</div>

<div
    id="deleteModeModal"
    class="modal-wrapper fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="deleteModeBox"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 min-w-[400px] modal-box"
    >
    </div>
</div>

<div
    id="dbmodal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="modalBox"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 w-full md:min-w-[650px] modal-box"
    >
    </div>
</div>

<div
    id="deletemodal"
    class="modal-wrapper fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="deleteBox"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 min-w-[600px] modal-box"
    >
    </div>
</div>

<div
    id="dynamicCreateModal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="dynamicCreateModalBox"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 min-w-[650px] modal-box"
    >
    </div>
</div>

<!-- Filter Modal -->
<div
    id="filtermodal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="filtermodalBox"
        class="bg-white max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 w-full modal-box"
    >
    </div>
</div>

<div
    id="horillaModal"
    class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-40 bg-[#00000030] flex"
>
    <!-- Modal Box -->
    <div
        id="horillaModalBox"
        class="bg-white w-full max-w-md rounded-lg shadow-lg p-0 opacity-0 scale-95 transition-all duration-300 w-full md:min-w-[650px] modal-box"
    >
    </div>
</div>
